__pycache__
__pycache__/
__pycache__/*
*/__pycache__
*/__pycache__/*
*.py[cod]
*.so
*.pyd
.venv/
*.pyc
*.log
*.tmp
*.bak
.DS_Store
.ipynb_checkpoints/
.env
*.env
.vscode/
.idea/
.dockerignore
**/gcp-credentials.json
*.key.json
dist/
build/
.cache/